language: julia
os:
  - osx
  - linux
julia:
  - 0.5
notifications:
  email: false
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia -e 'Pkg.clone(pwd()); Pkg.build("Anasol"); Pkg.test("Anasol"; coverage=true)';
after_success:
  - julia -e 'cd(Pkg.dir("Anasol")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())';
  - julia -e 'cd(joinpath(Pkg.dir("Anasol"), "src")); run(`bash -c "rm -f *.cov"`)'
